{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
</head>
<body>
   <header>
       <div class="row">
           <div class="logo">
               <img src="{% static 'images/logo.png' %}" alt="Logo da Onlearning">
           </div>
               <h3>Faculdade Impacta de Tecnologia</h3>
       </div>
   </header>
   <div class="main">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, felis non blandit ornare, purus libero imperdiet enim, et semper arcu lectus a augue. Sed sit amet lectus consequat, laoreet tortor id, elementum odio. Phasellus et tincidunt erat. Sed sagittis ante eu egestas molestie. Morbi iaculis varius porttitor. Mauris vehicula, sem sit amet tempor porttitor, dui tortor varius massa, eu porta leo ante sed elit. Mauris non sem eget nisl scelerisque laoreet et egestas risus. Nulla quis nunc ut erat porta aliquam. Phasellus imperdiet sagittis enim, vitae tincidunt magna tincidunt at. Quisque sit amet rutrum erat, quis fringilla ligula. Phasellus dignissim velit eros, ut feugiat nisl ultricies at.</p>
      <p>Quisque at maximus neque. Integer eu augue vel mi ultricies dictum quis ac tellus. In in convallis nisi, eu faucibus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed augue et enim mattis venenatis vel nec ante. Duis sit amet rutrum lorem. Suspendisse et ipsum ut turpis elementum dapibus ut ut nulla. Nam porttitor nisl sed odio dapibus, vel convallis odio convallis. Integer malesuada mi ac nulla ornare, in aliquet ipsum venenatis. Donec faucibus ac purus ut hendrerit. Curabitur et dolor nec ipsum suscipit suscipit non et tortor. Donec gravida, ligula eget imperdiet rutrum, libero ex rhoncus diam, ut elementum nisi mi at ipsum. Sed eget arcu lorem.</p>
   </div>
   <footer>
    <h5>Criado por: Guilherme Vieira, Marcelo Tavares, Thiago de Andrade | 2018</h5>
   </footer>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</body>
</html>