@import url('https://fonts.googleapis.com/css?family=Comfortaa|Titillium+Web|Roboto+Mono');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.nav {
    background-color: #313130;
    padding-top: 10px;
    padding-bottom: 15px;
}

.nav a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;    
    color: #fff;
}

.nav .dropdown .dropdown-menu a {
    color: #f39c12;
}


footer {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #222;
    color: #fff;
    text-align: center;
}


.logo-pequeno {
    width: 80px;
    height: 80px;
}